<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
    <input type="search" 
        class="form-control form-control-dark" 
        placeholder="Search" 
        aria-label="Search" 
        #searchInput>
    <div>
        <p>Искать в:</p>
        <label><input type="checkbox" [(ngModel)]="sortByTitle" [ngModelOptions]="{standalone: true}">Названии</label>
        <label><input type="checkbox" [(ngModel)]="sortByDetails" [ngModelOptions]="{standalone: true}">Деталях</label>
    </div>
    <button (click)="search(searchInput.value)">Search</button>
</form>

<div>
    <select [(ngModel)]="sortOptions.sortProperty">
        <option value="title">Title</option>
        <option value="creationDate">Creation Date</option>
        <option value="editDate">Edit Date</option>
    </select>
    <select [(ngModel)]="sortOptions.sortDirection">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>

    <button (click)="confirm()">Confirm</button>
</div>

<div class="row column-gap-3">
    <div class="col-3 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0 text-dark text-center ">New Blog</h3>
            <a href="blog/create" class="btn btn-outline-warning">Create</a>
        </div>
    </div>
    <div *ngFor="let blog of blogList?.blogs" class="col-3 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0 text-dark text-center ">{{blog.title}}</h3>
            <button (click)="goToBlogDetails(blog.id)" class="btn btn-outline-warning">Continue reading</button>
        </div>
    </div>
</div>
<div *ngIf="page > 0">
    <button (click)="goToPreviousPage()" class="btn btn-outline-dark">Previous</button>
</div>
<div *ngIf="blogList?.blogs?.length == size">
    <button (click)="goToNextPage()" class="btn btn-outline-dark">Next</button>
</div>