<div style="min-height: calc(100vh + 200px);" class="h-100 w-100 text-white">
    <div class="main-list d-flex align-items-center">
        <div class="blog-list h-100 container">
            <div class="row">
                <div *ngFor="let blog of blogList?.blogs">
                    <div class="col-12 blog w-100 container mb-4 p-0 border">
                        <div class="row h-100">
                            <div class="col-2 container border-end">
                                <div class="row h-100">
                                    <div class="col-12 h-25 d-flex justify-content-end p-0">
                                        <div class="h3 pe-1">
                                            {{blog.creationDate | date: 'd MMM'}}
                                        </div>
                                    </div>
                                    <div class="col-12 h-75 d-flex justify-content-end align-items-center p-0">
                                        <div class="rotated">{{blog.author}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <div class="col-2 h-100 w-100 container">
                                    <div class="row h-100">
                                        <div class="col-12 h-25 d-flex justify-content-start align-items-center p-0">
                                            <div class="h3">{{blog.title}}</div>
                                        </div>
                                        <div class="col-12 h-75 containter">
                                            <div class="row h-100">
                                                <div class="col-12 h-75 container">
                                                    <div class="row">
                                                        <div *ngFor="let tag of blog.tags">
                                                            <div class="col-2 d-flex border justify-content-center align-items-center me-3 mb-2">
                                                                <div class="h6">{{tag.name}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 h-25 d-flex align-items-center justify-content-end"><a (click)="goToBlogDetails(blog.id)" class="text-white pe-4">... read</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="page > 0">
    <button (click)="goToPreviousPage()" class="btn btn-outline-dark">Previous</button>
</div>
<div *ngIf="blogList?.blogs?.length == size">
    <button (click)="goToNextPage()" class="btn btn-outline-dark">Next</button>
</div>