@model BlogHub.Identity.Models.LoginViewModel
<form asp-controller="Authorization" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div>
        <label>Username</label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <button style="color: red;" type="submit">Sign In</button>
    </div>
    <div>
        <button style="color: blue;" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</button>
    </div>
</form>