<div class="bg-main main-bar container border p-0" *ngIf="!user">
  <div class="row h-100 p-0 m-0">
    <app-signin-redirect class="col-3"></app-signin-redirect>
    <div class="col-9 h-100 d-flex justify-content-center align-items-center p-0">
      <div class="w-75 h-75 border d-flex justify-content-center align-items-center p-0 m-0">
        <input (keyup.enter)="search()" class="w-100 h-100 bg-transparent border-0 m-0 h3 text-white"
          placeholder="search">
      </div>
    </div>
  </div>
</div>
<div class="bg-main main-bar container border" *ngIf="user">
  <div class="row h-100 p-0">
    <app-signout-redirect class="col-3 p-0"></app-signout-redirect>
    <div class="col-3 h-100 d-flex justify-content-center align-items-center p-0">
      <button class="m-0 btn w-75 h-75 border rounded-0 p-0">
        <div class="m-0 p-0">
          <div (click)="redirect()" class="m-0 h3 text-white-50">create</div>
        </div>
      </button>
    </div>
    <div class="col-6 h-100 d-flex justify-content-center align-items-center p-0">
      <div class="w-75 h-75 border d-flex justify-content-center align-items-center p-0 m-0">
        <input (keyup.enter)="search()" class="w-100 h-100 bg-transparent border-0 m-0 h3 text-white"
          placeholder="search">
      </div>
    </div>
  </div>
</div>