<div class="row row-cols-1 d-flex justify-content-center">
  <h2 class="col">Create New Blog</h2>

  <div class="col">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Your title" [(ngModel)]="title">
  </div>
  <div class="col">
    <label for="details">Details</label>
    <input type="text" class="form-control" id="details" placeholder="Your details" [(ngModel)]="details">
  </div>
  <div class="col">
    <p></p>
    <button class="col-3 btn btn-success" (click)="createBlog()">Create</button>
  </div>
</div>
<p></p>
<div class="row">
    <button class="col btn btn-outline-warning" (click)="goBack()">Back</button>
</div>