<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 flex-column">
      <h2 class="col text-center">Create New Blog</h2>
      <div>
        <label for="title" class="text-white">Title:</label>
        <input type="text" class="form-control text-white bg-transparent rounded-0" id="title" placeholder="Your title" [(ngModel)]="title">
      </div>
      <div>
        <label for="details" class="text-white">Details:</label>
        <input type="text" class="form-control text-white bg-transparent rounded-0" id="details" placeholder="Your details" [(ngModel)]="details">
      </div>
      <div>
        <p></p>
        <button class="col-3 border rounded-0 btn btn-success" (click)="createBlog()">Create</button>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<div class="row" style="margin-top: 100px;">
    <button class="col btn btn-outline-warning" (click)="goBack()">Back</button>
</div>