<div *ngIf="!blog">Loading...</div>
<div *ngIf="!isEditMode">
    <div *ngIf="blog">
        <h1>Title: {{blog.title}}</h1>
        <p>Details: {{blog.details}}</p>
        <p>CreationDate: {{blog.creationDate}}</p>
        <p>EditDate: {{blog.editDate}}</p>
        <button (click)="delete()">Delete</button>
        <button (click)="edit()">Edit</button>
    </div>
</div>
<div *ngIf="isEditMode">
    <div *ngIf="blog">
        <input [(ngModel)]="blog.title">
        <textarea [(ngModel)]="blog.details"></textarea>

        <p>CreationDate: {{blog.creationDate}}</p>
        <p>EditDate: {{blog.editDate}}</p>
        <button (click)="cancel()">Cancel</button>
        <button (click)="update()">Edit</button>
    </div>
</div>

<button (click)="goBack()">Back</button>